.margins {
    margin:10vw
}
h1 {
    font-family: 'Merriweather', serif;
}
.paragraph {
    font-family: 'Open Sans Condensed', sans-serif;
}
.h1 {
    color: blue;
}
.b1 {
    color: rgb(0, 0, 102);
}
.b2 {
    color: rgb(0, 0, 102);
}