.h1 {
    font-size: 70px;
    color: rgb(179, 95, 0);
    text-decoration: underline;
    text-align: center;
}
/*.h2 {
    font-size: 15px;
    color: rgb(253, 246, 238);
    text-align: center;
}*/
.margins {
    margin-right: 15vw;
    margin-left: 15vw;
    margin-top: 5vw;
    margin-bottom: 10vw;
}
.sous-titre {
    font-size: 70px;
    margin-top: 5vw;
    margin-bottom: 5vw;
    color: rgb(255, 228, 198);
    text-align: center;
}
.paragraphe {
    border-color: rgb(179, 95, 0);
    border-style: solid;
    border-width: 10px;
    padding: 3vw;
    font-size: 30px;
    background-color: rgb(250, 228, 199);
    text-align: justify;
    color: black;
}
.title {
    text-align: center;
}
body {
    background-image: url("fond-1.jpg");
    background-image: no-repeat;
    background-size: 1530px 3000px;
    background-attachment: fixed;
    background-position: center;
}
.noms {
    color: white;
    text-align: center;
    margin-top: -3vw;
}
/*ul {
    font-size: 40px;
    color:rgb(0, 0, 0);
    margin-left: 380px;
}*/
.image {
    width: 33%;
    height: auto;
}
.galerie {
    margin-top: 5vw;
    text-align: center;
}
.conteneur {
    text-align: center;
}
button {
    margin-top: 5vw;
    margin-left: 83px;
    margin-right: 83px;
    font-size: 23px;
    background-color: whitesmoke;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    width: 175px;
}